*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.col-lg-5 {
  width: 100%;
  max-width: 500px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.alert {
  background-color: #4caf50;
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.alert h2 {
  font-size: 24px;
}

.p-4 {
  padding: 20px;
}

form {
  padding: 10px;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}

form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #45a049;
}
